*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}
a{
    text-decoration: none;
    color: #fff;
}


.container
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    
}
.nav
{
    height: 60px;
    width: 100%;
    /* border: 1px solid black ; */
    float: right;
    background-color:#850f29;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .icons 
{
    /* border: 1px solid rgb(84, 31, 31); */
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
    width: 86px;
}
.nav .icons i
{
    font-size: 30px;
    /* color: #393636; */
    background-color: white;
    border-radius: 50%;
    margin: 2px;
    border: 2px solid black;
}

.nav .account
{
    /* border: 1px solid rgb(34, 22, 123); */
    
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-right:100px ;
}

.nav .account button
{
    height: 32px;
    width: 90px;
    color: white;
    border-radius: 20px;
    border: 1px solid gray;
    background-color:transparent;
    font-weight:900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav .account .upgrade
{
    font-size: 15px;

}
.nav .account .upgrade:hover
{
    background-color: black;
    border: 2px solid white;
    
}
.nav .account .nishi:hover
{
    background-color: rgb(35, 33, 33);

}


.nav .account .nishi 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    width: 100px;
}

.nav .account .nishi .profile
{
    font-size: 26px;
    color: #535353;
    background-color: white;
    border-radius: 50%;
}
.nav .account .nishi .down-arrow
{
    font-size: 16px;
    margin-bottom: 7%;
    margin-right: 5px;
    color: white;
}




.scroll_part
{
    height: 300px;
    width: 100%;
    /* border: 1px solid #379673; */
    flex:wrap;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom left,#850f29,#5a0a0a);

}



.scroll_part  .banner_image
{
    height: 235px;
    width: 23%;
    /* border: 1px solid white; */
    margin: 30px 20px 30px 40px;
    box-shadow: 5px 5px 10px 6px rgba(27, 26, 26, 0.5);

    
}

.scroll_part  .banner_image  img
{
   height: 100%;
   width: 100%;
    
}




.scroll_part .content
{
    /* border: 1px solid white; */
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.scroll_part .playlist
{
    height: 50px;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}
.scroll_part .playlist span
{   color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 14px;
    margin-top: 30px;
}
.scroll_part .playlist button
{
    height: 60%;
    width: 130px;
    border-radius: 12px;
    opacity: 0.4;
    border: none;
    color: #4a5657;
    font-size: 13px;
}

.scroll_part .content b
{
    font-size: 66px;
    color: white;
    margin-top: 4%;
}
.scroll_part .content p
{
    color: white;
    margin-top: 0.5%;
    font-size: 15px;
} 


.container .search 
{
    /* border: 1px solid black; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181129;
    background: linear-gradient(to bottom,#5a0a0a,#2d0c13);

    
}

.container .search .box1
{
    height:70%;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container .search .box1 i
{
    color: white;
    font-size: 30px;

}

.container .search .box1 #play_likedsong
{
    font-size: 60px;
    color:green;
    background-color: black;
    border-radius: 50%;
}

.container .search .box2
{
    height:70%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}





.container #my_table
{
    padding: 10px 30px;
    color: rgb(152, 149, 149);
    font-size: 15px;
    background: linear-gradient(to bottom,#2d0c13,#1a1a1b);
    

}


.container #my_table  tr td img
{
    border: 1px solid white;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}








